@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Urbonist:itol,wght@0,100..900;1,100..900&display=swamp');

:root {
    --primary-font: "DM Sans", sans-serif;
    --secondary-font: "Urbanist", sans-serif;
    --primary-color: #FF5F1F;
    --secondary-color: #FFE584;
    --light-color: #fff;
    --text-color: #36454F;
    --text-color-2: #899499;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    scroll-behavior: smooth;
}

body {
    font-family: var(--secondary-font);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
}

header .nav_container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}

header .nav_container .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header .nav_container .logo_container .logo {
    width: 50px;
}

header .nav_container .logo_container .h3 {
    font-size: 15px;
}

header .nav_container .menu_container {
    width: 100%;
}

header .nav_container .menu_container .menu_list {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

header .nav_container .menu_container .menu_list li {
    list-style: none;
}

header .nav_container .menu_container .menu_list li a {
    font-weight: 600;
    transition: all .3s ease-in-out;
}

header .nav_container .menu_container .menu_list li a:hover {
    color: var(--primary-color);
}

.nav-link {
    font-size: 0.88rem;
    color: #36454F;
    border: 2px solid transparent;
    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
    border-bottom: 2px solid #FF5F1F;
    transition: 0.3s;
    transform: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

header .nav_container .btn_container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

header .nav_container .btn_container button {
    padding: 10px 20px;
    outline: none;
    border: none;
    font-family: var(--primary-font);
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}

header .nav_container .btn_container .login_btn {
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all .3s linear;
}

header .nav_container .btn_container .login_btn:hover {
    background: var(--primary-color);
    color: var(--light-color);
}

header .nav_container .btn_container .signup_btn {
    background: var(--primary-color);
    color: var(--light-color);
    transition: all .3s linear;
}

header .nav_container .btn_container .signup_btn:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

header .close-btn,
header .menu_btn {
    display: none;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light-color);
    z-index: 1000;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.hero_section .hero_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero_section .hero_container .hero_swiper_container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: grab;
}

.hero_section .hero_container .col:nth-child(1) {
    width: 70%;
    overflow: hidden;
}

.hero_section .hero_container .col:nth-child(2) {
    width: 30%;
}

.hero_swiper_container .slider_container {
    position: relative;
}

.hero_swiper_container .slider_container .text_container {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 100%;
    max-width: 450px;
}

.hero_swiper_container .slider_container .text_container h5 {
    color: var(--primary-color);
}

.hero_swiper_container .slider_container .text_container h1 {
    font-size: clamp(1.2em, 3vw, 2em);
    font-weight: bold;
    font-family: var(--primary-font);
    padding: 15px 0;
}

.hero_swiper_container .slider_container .text_container h3 {
    font-weight: 400;
    font-size: clamp(1em, 1.5vw, 2em);
    padding: 10px 0;
}

.hero_swiper_container .slider_container .text_container p {
    font-weight: 400;
    font-size: 10px;
    padding: 5px 0;
}

.hero_swiper_container .slider_container .text_container .btn_container {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.hero_swiper_container .slider_container .text_container .btn_container button {
    width: 100%;
    height: 40px;
    outline: none;
    font-weight: 700;
    font-family: var(--primary-font);
    border-radius: 10px;
    cursor: pointer;
}

.hero_swiper_container .slider_container .text_container .btn_container button.order_btn {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--light-color);
    transition: all .5s ease-in-out;
}

.hero_swiper_container .slider_container .text_container .btn_container button.order_btn:hover {
    background: transparent;
    border: 1px solid var(--primary-color);
    color: var(--text-color);
}

.hero_swiper_container .slider_container .text_container .btn_container button.explore_btn {
    border: 1px solid var(--primary-color);
    background: transparent;
    transition: all .5s ease-in-out;
}

.hero_swiper_container .slider_container .text_container .btn_container button.explore_btn:hover {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--light-color);
}

.hero_container_2 {
    width: 100%;
    height: 100%;
    background: url("../img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    overflow: hidden;
}

.hero_container_2 .book_swiper_container {
    width: 70%;
    height: 100%;
    overflow: hidden;
    padding: 40px 5px;
    cursor: grab;
}

.hero_container_2 .row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.hero_container_2 .book_swiper_container .img_container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.hero_container_2 .book_swiper_container .img_container img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    object-fit: contain;
    display: block;
}

.hero_container_2 .row h1 {
    color: var(--light-color);
}

.hero_container_2 .row p {
    color: var(--light-color);
    opacity: .8;
    font-size: 10px;
    font-style: italic;
}

.hero_container_2 .row:nth-child(2) {
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.hero_container_2 .book_swiper_container .text_container {
    padding: 10px 0;
}

.hero_container_2 .book_swiper_container .text_container h1 {
    font-size: 14px;
    padding: 10px 0;
}

.hero_container_2 .book_swiper_container .text_container button {
    background: var(--light-color);
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid var(--light-color);
    transition: all .3s linear;
    font-family: var(--primary-font);
    cursor: pointer;
    font-weight: 500;
    border-radius: 10px;
}

.hero_container_2 .book_swiper_container .text_container button:hover {
    background: transparent;
    border: 1px solid var(--light-color);
    color: var(--light-color);
}


.features_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features_section .features_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

.features_section .features_container .col {
    flex: 1;
}

.features_section .features_container .col .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.features_section .features_container .col .content .text_content_container h1 {
    font-size: clamp(1.2em, 1.5vw, 2em);
}

.features_section .features_container .col .content .text_content_container p {
    font-size: 13px;
    padding: 10px 0;
    color: var(--text-color-2);
}

.features_section .features_container .col .content .icon_container {
    padding: 20px;
    background: var(--secondary-color);
    border-radius: 10px;
}

.features_section .features_container .col .content .icon_container i {
    color: var(--primary-color);
    font-size: 20px;
}


.trending_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending_section .trending_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.trending_section .trending_container .col {
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
}

.trending_section .trending_container .col:nth-child(1) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 246%2c 239%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c580.682C112.501%2c577.391%2c228.649%2c563.75%2c320.487%2c498.688C410.502%2c434.918%2c449.925%2c326.706%2c498.386%2c227.605C548.17%2c125.798%2c646.075%2c19.112%2c607.027%2c-87.277C566.45%2c-197.834%2c401.034%2c-192.579%2c314.749%2c-272.731C242.447%2c-339.894%2c238.334%2c-467.17%2c150.223%2c-511.612C59.399%2c-557.422%2c-53.32%2c-541.798%2c-148.722%2c-506.499C-240.859%2c-472.409%2c-307.668%2c-396.471%2c-368.806%2c-319.572C-427.788%2c-245.385%2c-478.608%2c-164.523%2c-494.845%2c-71.148C-511.38%2c23.946%2c-486.592%2c117.463%2c-460.982%2c210.524C-430.926%2c319.742%2c-421.097%2c446.876%2c-332.77%2c517.8C-242.929%2c589.94%2c-115.171%2c584.051%2c0%2c580.682' fill='%23ffbe8c'%3e%3c/path%3e%3cpath d='M1440 1157.821C1550.176 1154.566 1611.186 1029.817 1699.843 964.3240000000001 1781.333 904.126 1895.174 879.197 1940.099 788.388 1985.299 697.0219999999999 1954.972 588.794 1935.0819999999999 488.818 1916.112 393.466 1895.925 293.33 1827.808 223.962 1761.292 156.22500000000002 1653.893 161.61900000000003 1570.052 117.084 1457.135 57.103999999999985 1375.205-114.26999999999998 1251.433-82.20100000000002 1129.233-50.53899999999999 1137.596 134.543 1076.446 244.978 1030.249 328.40700000000004 960.354 395.33799999999997 935.96 487.53 909.447 587.731 887.157 698.543 931.663 792.15 976.006 885.413 1086.266 919.673 1170.097 979.977 1259.369 1044.195 1330.078 1161.069 1440 1157.821' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.trending_section .trending_container .col:nth-child(2) {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(231%2c 241%2c 251%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c659.768C123.013%2c675.838%2c251.347%2c616.345%2c340.982%2c530.579C424.912%2c450.271%2c419.584%2c319.313%2c466.755%2c213.16C513.271%2c108.481%2c635.745%2c24.271%2c616.116%2c-88.584C596.421%2c-201.818%2c451.616%2c-239.339%2c373.401%2c-323.554C298.848%2c-403.826%2c268.363%2c-527.969%2c167.759%2c-571.334C64.326%2c-615.918%2c-56.21%2c-590.879%2c-162.879%2c-554.715C-266.702%2c-519.516%2c-351.803%2c-449.79%2c-426.747%2c-369.779C-504.161%2c-287.131%2c-574.322%2c-196.419%2c-601.464%2c-86.478C-630.295%2c30.305%2c-644.666%2c162.851%2c-583.868%2c266.644C-524.182%2c368.539%2c-386.116%2c382.433%2c-288.161%2c448.387C-187.304%2c516.295%2c-120.564%2c644.018%2c0%2c659.768' fill='%23b1d2f2'%3e%3c/path%3e%3cpath d='M1440 1201.304C1559.285 1205.4969999999998 1657.195 1118.4769999999999 1760.618 1058.892 1869.554 996.131 2025.7359999999999 964.265 2060.931 843.5699999999999 2096.9539999999997 720.037 1978.078 607.938 1926.493 490.053 1889.24 404.91999999999996 1849.315 326.76 1800.247 247.844 1741.378 153.16500000000002 1709.99 30.346000000000004 1609.999-18.962999999999965 1506.7930000000001-69.85799999999995 1380.792-49.73400000000004 1271.828-12.740000000000009 1165.461 23.373000000000047 1087.702 106.54399999999998 1007.794 185.49099999999999 921.39 270.856 797.128 345.082 787.129 466.131 777.115 587.358 895.586 675.818 958.703 779.8009999999999 1013.5840000000001 870.216 1053.981 967.165 1133.549 1036.848 1222.565 1114.8049999999998 1321.746 1197.147 1440 1201.304' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.trending_section .trending_container .col .content_container {
    padding: 20px 0;
    cursor: grab;
}

.trending_section .trending_container .col .content_container .img_container {
    border-radius: 10px;
    overflow: hidden;
}

.trending_section .trending_container .col .content_container .img_container img {
    width: 100%;
    height: 100%;
}

.trending_section .trending_container .col .title_container {
    width: 80%;
}

.trending_section .trending_container .col .title_container h1 {
    padding: 10px 0;
    font-family: var(--primary-font);
}

.trending_section .trending_container .col .title_container p {
    font-size: 10px;
    color: var(--text-color-2);
}


.special_offers_section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.special_offers_section .special_offers_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    height: 100%;
}

.title_container {
    padding: 10px 0;
}

.title_container h4 {
    font-size: 20px;
    color: var(--primary-color);
}

.title_container h1 {
    font-size: clamp(1.2em, 3vw, 2em);
}

.title_container p {
    font-size: 12px;
    color: var(--text-color-2);
    font-style: italic;
    padding: 10px 0;
}

.special_offers_section .special_offers_container .content_container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.product_card .img_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    background: var(--text-color-2);
    box-shadow: rgba(0, 0, 0, 0.1)0px 0px 5px 0px, rgba(0, 0, 0, 0.1)0px 0px 1px 0px;
}

.product_card .img_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    max-height: 450px;
    transition: all .5s linear;
}

.product_card:hover .img_container img {
    scale: 1.1;
    rotate: 3deg;
}

.product_card:hover .text_container h1 {
    color: var(--primary-color);
}

.product_card .text_container {
    padding: 10px 0;
}

.product_card .text_container h1 {
    font-size: clamp(1em, 2vw, 2em);
    font-family: var(--primary-font);
}

.product_card .text_container h3 {
    font-size: 13px;
    font-weight: 400;
    color: var(--text-color-2);
}

.product_card .text_container .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.product_card .text_container .col .price {
    font-size: 15px;
}

.product_card .text_container .col .ratings p {
    color: var(--primary-color);
    font-weight: bold;
}

.product_card .text_container .col .ratings i {
    color: var(--primary-color);
    font-weight: bold;
}

.flash_section {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px 0;
}

.flash_section .flash_container {
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flash_section .flash_container .content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}

.view_more {
    background: var(--text-color);
    padding: 10px 20px;
    color: var(--light-color);
    font-family: var(--primary-font);
    border: 1px solid var(--text-color);
    outline: none;
    transition: all .5s linear;
    cursor: pointer;
}

.view_more:hover {
    background: var(--text-color-2);
    border: 1px solid var(--text-color-2);
}

.books_on_sales_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.books_on_sales_section .books_on_sales_container {
    width: 90%;
    height: 100%;
}

.books_on_sales_section .books_on_sales_container .product_card .img_container img {
    max-height: 300px;
}

.books_on_sales_section .books_on_sales_container .product_card .text_container h1 {
    font-size: 18px;
}


.new_launch_section {
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
}

.new_launch_section .new_launch_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.new_launch_section .new_launch_container .col {
    flex: 1;
}

.new_launch_section .new_launch_container .col:nth-child(2) {
    padding: 10px;
}

.new_launch_section .new_launch_container .col p {
    text-align: justify;
}

.new_launch_section .new_launch_container .col .img_container {
    width: 100%;
    height: 100%;
}

.new_launch_section .new_launch_container .col .img_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.new_launch_section .new_launch_container .col .buy-now {
    background: var(--primary-color);
    color: var(--light-color);
    border: 1px solid var(--primary-color);
    transition: all .5s linear;
    font-family: var(--primary-font);
    font-weight: bold;
    padding: 10px 30px;
    margin: 20px 0;
    cursor: pointer;
}

.new_launch_section .new_launch_container .col .buy-now:hover {
    background: transparent;
    color: var(--primary-color);
}


.featured_books_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background: var(--secondary-color);
}

.featured_books_section .featured_books_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.featured_books_section .featured_books_container .col {
    flex: 1;
}

.featured_books_section .featured_books_container .col .featured_book {
    width: 100%;
    height: 100%;
}

.featured_books_section .featured_books_container .col .featured_book .row {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    background: var(--light-color);
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px;
}

.featured_books_section .featured_books_container .col .featured_book .row .left {
    flex: 1;
}

.featured_books_section .featured_books_container .col .featured_book .row .right {
    flex: 2;
}

.featured_books_section .featured_books_container .col .featured_book .row .left .img_container {
    width: 100%;
    height: 100%;
}

.featured_books_section .featured_books_container .col .featured_book .row .left .img_container img {
    width: fit-content;
    height: 100%;
    display: block;
    object-fit: contain;
    border-radius: 10px;
    max-height: 320px;
}

.featured_books_section .featured_books_container .col .featured_book .row .right .text_container h1 {
    padding: 10px 0;
    font-family: var(--primary-font);
    font-weight: bold;
    font-size: 20px;
}

.featured_books_section .featured_books_container .col .featured_book .row .right .text_container .genre {
    color: var(--primary-color);
    font-size: 14px;
}

.synopsis_container {
    padding: 10px 0;
}

.synopsis_container h2 {
    font-size: 14px;
    padding: 10px 0;
}

.synopsis_container p {
    font-size: 12px;
    color: var(--text-color-2);
}

.synopsis_container .synopsis_row {
    width: 100%;
    padding: 20px 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.synopsis_container .synopsis_row .col h4 {
    padding: 10px 0;
}

.synopsis_container .synopsis_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.synopsis_container .synopsis_footer .price {
    font-weight: bold;
    font-size: 18px;
}

.synopsis_container .synopsis_footer strike {
    font-weight: 400;
    color: var(--text-color-2);
    font-size: 14px;
}

.synopsis_container .synopsis_footer .cart_btn {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 10px 20px;
    border: none;
    outline: none;
    font-family: var(--primary-font);
    border-radius: 5px;
    transition: all .5s linear;
    cursor: pointer;
}

.synopsis_container .synopsis_footer .cart_btn:hover {
    opacity: .8;
}

.books_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.books_grid .img_container {
    width: 100%;
    height: 100%;
}

.books_grid .img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}

.testimonials_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.testimonials_section .title_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.testimonials_section .testimonials_container {
    width: 90%;
    height: 100%;
}

.testimonials_section .testimonials_container .content {
    padding: 20px 0;
}

.testimonials_section .testimonials_container .content .TestimonialSwiper {
    padding: 20px 0;
}

.testimonials_section .testimonials_container .content .TestimonialSwiper .swiper-slide {
    scale: .8;
    opacity: .5;
}

.testimonials_section .testimonials_container .content .TestimonialSwiper .swiper-slide.swiper-slide-active {
    scale: 1;
    opacity: 1;
}

.testimonial {
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px;
    padding: 20px;
    border-radius: 10px;
    cursor: grab;
}

.testimonial .top h1 {
    font-size: clamp(1em, 1.5vw, 2em);
    font-family: var(--primary-font);
    text-wrap: nowrap;
    text-align: center;
    text-transform: capitalize;
}

.testimonial .bottom {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial .bottom .col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.testimonial .bottom .col .img_container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial .bottom .col .img_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.testimonial .bottom .col .text h3 {
    font-size: 14px;
}

.testimonial .bottom .col .text p {
    font-size: 12px;
    color: var(--text-color-2);
}

.testimonial .bottom .col .start_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.testimonial .bottom .col .start_container i {
    color: var(--primary-color);
}

.client_group_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client_group_container .img_container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -15px;
    border: 4px solid var(--light-color);
}

.client_group_container .img_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}

.client_group_container .img_container .client_count {
    background: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
}

.blog_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.blog_section .blog_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog_section .blog_container .content .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.blog_section .blog_container .content .row .blog_card {
    padding: 10px;
    border-radius: 10px;
    max-width: 280px;
    box-shadow: rgba(99, 99, 99, 0.2)0px 2px 8px 0px;
}

.blog_section .blog_container .content .row .img_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.blog_section .blog_container .content .row .text_container {
    padding: 20px 5px;
}

.blog_section .blog_container .content .row .text_container h1 {
    font-size: 1.1em;
    font-family: var(--primary-font);
}

.blog_section .blog_container .content .row .text_container p {
    font-size: 14px;
    padding: 10px 0;
    color: var(--text-color-2);
}

.blog_section .blog_container .content .row .text_container button {
    background: var(--primary-color);
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
    color: var(--light-color);
    outline: none;
    font-family: var(--primary-font);
    transition: all .5s linear;
}

.blog_section .blog_container .content .row .text_container button:hover {
    background: transparent;
    color: var(--primary-color);
}

.newsletter_section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.newsletter_section .newsletter_container {
    width: 100%;
    max-width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter_section .newsletter_container .newsletter_inner {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1063%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(255%2c 95%2c 31%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c425.602C79.974%2c424.598%2c164.387%2c399.569%2c219.6%2c341.704C271.68%2c287.122%2c248.967%2c196.579%2c282.847%2c129.172C318.793%2c57.655%2c435.184%2c18.27%2c421.831%2c-60.65C408.355%2c-140.297%2c295.254%2c-153.065%2c227.621%2c-197.235C179.818%2c-228.455%2c133.032%2c-254.878%2c82.819%2c-282.054C17.481%2c-317.415%2c-38.346%2c-391.685%2c-111.861%2c-380.965C-184.408%2c-370.386%2c-217.335%2c-285.301%2c-266.689%2c-231.087C-317.462%2c-175.315%2c-398.819%2c-133.432%2c-405.59%2c-58.315C-412.372%2c16.925%2c-330.849%2c68.045%2c-299.861%2c136.942C-268.619%2c206.405%2c-278.045%2c294.443%2c-223.173%2c347.265C-165.199%2c403.074%2c-80.465%2c426.613%2c0%2c425.602' fill='%23fc4800'%3e%3c/path%3e%3cpath d='M1440 1225.2C1566.109 1249.896 1694.612 1193.7440000000001 1804.946 1127.868 1917.74 1060.5230000000001 2031.73 973.569 2071.272 848.2919999999999 2109.703 726.534 2034.774 603.302 2010.0549999999998 478.039 1986.858 360.49 2015.219 219.70600000000002 1930.507 134.973 1845.9560000000001 50.39999999999998 1706.7930000000001 69.82999999999998 1588.019 55.89499999999998 1488.403 44.206999999999994 1390.297 34.88199999999995 1293.247 60.204999999999984 1193.943 86.11599999999999 1095.696 125.882 1027.129 202.245 957.9590000000001 279.281 929.4100000000001 382.01300000000003 912.571 484.16700000000003 895.454 588.009 884.799 697.863 929.7470000000001 793.025 974.462 887.694 1076.752 933.244 1156.644 1000.9110000000001 1250.464 1080.375 1319.342 1201.571 1440 1225.2' fill='%23ff7841'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1063'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.newsletter_section .newsletter_container .newsletter_inner h1 {
    padding: 20px 0;
    color: var(--light-color);
    text-align: center;
}

.newsletter_section .newsletter_container .newsletter_inner .input_container {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.newsletter_section .newsletter_container .newsletter_inner .input_container input[type="email"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    outline: none;
    background: #ffffff85;
    border: none;
    border-radius: 5px 0 0 5px;
    color: var(--light-color);
    font-family: var(--primary-font);
}

.newsletter_section .newsletter_container .newsletter_inner .input_container input[type="email"]::placeholder {
    color: var(--light-color);
    font-family: var(--primary-font);
}

.newsletter_section .newsletter_container .newsletter_inner .input_container button {
    background: var(--light-color);
    border: none;
    outline: none;
    height: 40px;
    padding: 0 20px;
    border-radius: 0 5px 5px 0;
    font-family: var(--primary-font);
    font-weight: bold;
    transition: all .5s linear;
    cursor: pointer;
}

.newsletter_section .newsletter_container .newsletter_inner .input_container button:hover {
    background: var(--text-color);
    color: var(--light-color);
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer .footer_container {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

footer .footer_container .col {
    flex: 1;
}

footer .footer_container .col:nth-child(1) .about_container {
    font-size: 12px;
    color: var(--text-color-2);
    padding: 20px 0;
}

footer .footer_container .logo_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer .footer_container .logo_container .logo {
    width: 50px;
}

footer .footer_container .logo_container .h3 {
    font-size: 15px;
}

footer .footer_container .menu_container ul li {
    list-style: none;
    padding: 5px 0;
}

footer .footer_container .menu_container ul li a {
    font-weight: 500;
    transition: all .5s linear;
}

footer .footer_container .menu_container ul li a:hover {
    color: var(--primary-color);
}

footer .footer_container .menu_container h1 {
    font-size: clamp(1em, 1.5vw, 2em);
    padding: 10px 0;
}

footer .footer_container .map_container {
    border-radius: 10px;
    overflow: hidden;
}

footer .footer_container .map_container iframe {
    width: 100%;
    height: 100%;
}

footer .address_container {
    padding: 20px 5px;
}

footer .address_container ul li {
    color: var(--text-color-2);
    font-style: italic;
    font-size: 14px;
}

.social_container .social_row {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding: 10px 0;
}

.social_container h1 {
    font-size: clamp(1em, 1.5vw, 2em);
}

.social_container .social_row button {
    border: 1px solid rgba(211, 211, 211, 0.443);
    padding: 15px;
    background: transparent;
    border-radius: 10px;
    transition: all .5s linear;
    cursor: pointer;
}

.social_container .social_row button:hover {
    background: var(--primary-color);
}

.social_container .social_row button:hover i {
    color: var(--light-color);
}

.social_container .social_row button i {
    font-size: 20px;
}

.copy_right_container {
    width: 90%;
    border-top: 1px solid var(--text-color-2);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copy_right_container .col {
    flex: 1;
}

.copy_right_container .col:nth-child(2) {
    text-align: right;
}

.love {
    color: red;
}